<table class="table">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">email</th>
          <th scope="col">delete</th>
          <th scope="col">update</th>
        </tr>
      </thead>
      <tbody>
@if(users$ | async; as users){
    @for(user of users;track user.id){
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td><button (click)="deleteUser(user.id)">Supprimer</button></td>
            <td><button (click)="triggerUpdate(user.id)">Modifier</button></td>
        </tr>
    }
}
    </tbody>
</table>
